.hero {
    height: 630px;
    width: 100%;
    background-color: orange;
}

.content_main {
    display: flex;
    justify-content: space-between;
}

.content_wrapper {
    width: 100%;

    .content {
        margin-top: var(--height-category);
    }

    .category-wrapper {
        height: var(--height-category);
        padding-top: calc(var(--height-category) - var(--height-category-bg));

        width: 100dvw;
        position: absolute;
        left: 50%;
        transform: translateX(-50vw);

        .category-bg {
            width: 100%;
            height: 100%;
            background-color: var(--color-bg-shell);
        }
    }
}

.basket_wrapper {
    /* TODO mobile vs desktop */
    display: none;
    width: var(--width-basket);
    padding-inline: 16px;

    .basket {
        height: 30svh;
        width: 100%;
        background-color: var(--color-bg-overlay);
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 769px) {
    .basket_wrapper {
        display: block;
    }
    .content_wrapper {
        width: calc(100% - var(--width-basket));
    }
}
