/* #region global definitions */
.d-none {
    display: none;
}

p {
    color: var(--color-font-dark);
    font-family: 'Palanquin';
    font-weight: 500;
    line-height: 120%;
    font-size: 16px;
}
/* #endregion global definitions */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 16px;
    padding-top: 24px;
    width: 100%;

    .hero-img-wrapper {
        position: relative;
        margin-bottom: 100px;

        .hero-img {
            width: calc(100svw - 32px);
            height: calc(100svw - 32px);
            object-fit: cover;
            border-radius: 16px;
        }

        .hero-logo {
            width: var(--size-logo-hero);
            height: var(--size-logo-hero);
            border-radius: 50%;
            border: 13px solid var(--color-bg-accent);
            background-color: var(--color-bg-accent);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
        }
    }

    .rating-stats-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .rating-stats {
            display: flex;
            justify-content: space-evenly;
            gap: 5px;
            padding-block: 5px;
            background-color: var(--color-bg-accent-strong);
            border-radius: 4px;
            width: 120px;
        }

        h1 {
            font-family: 'Palanquin Dark';
            font-weight: 700;
            font-size: 40px;
            color: var(--color-font-dark);

            span {
                color: var(--color-bg-shell);
            }
        }
    }

    p {
        font-family: 'Palanquin';
        font-weight: 700;
        font-size: 22px;
        color: var(--color-font-dark);
        text-align: center;
    }

    .rating {
        font-family: 'Palanquin Dark';
        font-size: 20px;
        font-weight: 400;
    }

    .rating-counter {
        width: 40px;
        font-family: 'Palanquin';
        font-size: 18px;
        font-weight: 400;
        color: var(--color-font-weak);
    }
}

.content_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.content_wrapper {
    width: 100%;

    .content {
        margin-top: var(--height-category);
    }

    .category-wrapper {
        height: var(--height-category);
        padding-top: calc(var(--height-category) - var(--height-category-bg));

        width: 100dvw;
        position: absolute;
        left: 50%;
        transform: translateX(-50vw);

        .category-bg {
            width: 100%;
            height: 100%;
            background-color: var(--color-bg-shell);
        }
    }
}

/* #region basket */
@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: calc(-1 * var(--height-basket-mobile));
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        bottom: 0svh;
    }
    to {
        bottom: calc(-1 * var(--height-basket-mobile));
    }
}

.fade_in {
    animation: fadeIn 250ms ease-in-out forwards;
}

.fade_out {
    animation: fadeOut 250ms ease-in-out forwards;
}

.basket_wrapper {
    position: fixed;

    width: 94%;
    height: var(--height-basket-mobile);

    .basket {
        height: var(--height-basket-mobile);
        width: 100%;
        background-color: var(--color-bg-overlay);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}
/* #endregion basket */

@media screen and (min-width: 769px) {
    .content_main {
        flex-direction: row;
    }

    .basket_wrapper {
        display: block;
        width: var(--width-basket);
        padding-top: calc(var(--height-category) - var(--height-category-bg));
        .basket {
            height: 30svh;
            width: 100%;
            background-color: var(--color-bg-overlay);
            position: sticky;
            top: 0;
        }
    }

    .content_wrapper {
        width: calc(100% - var(--width-basket));
    }

    .hero {
        padding-top: 0;
        padding-inline: 0;
        .hero-img-wrapper {
            .hero-img {
                width: 100%;
                height: 100%;
                border-radius: 0;
            }

            .hero-logo {
                transform: translateX(-50%) translateY(33%);
            }
        }

        .rating-stats-wrapper {
            flex-direction: row;
            .rating-stats {
                order: 1;
            }
        }
    }
}

@media screen and (min-width: 1441px) {
    .hero {
        padding-inline: calc(50% - 720px);
    }
}
