/* #region global definitions */
.d_none {
    display: none;
}

.on_desktop {
    display: none;
}

.on_mobile {
    display: initial;
}

.align_end {
    align-self: flex-end;
}

p {
    color: var(--color-font-dark);
    font-family: 'Palanquin';
    font-weight: 500;
    line-height: 120%;
    font-size: 16px;
}

h2 {
    font-size: 32px;
    color: var(--color-bg-accent);
    font-family: 'Palanquin';
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 24px;
    color: var(--color-font-dark);
    font-family: 'Palanquin';
    font-weight: 600;
    line-height: 100%;
}

ul {
    list-style-type: none;
}

.tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: var(--color-bg-accent-strong);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
}

/* #endregion global definitions */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 16px;
    padding-top: 24px;
    width: 100%;

    .hero_img_wrapper {
        position: relative;
        margin-bottom: 100px;

        .hero_img {
            width: calc(100svw - 32px);
            height: calc(100svw - 32px);
            object-fit: cover;
            border-radius: 16px;
        }

        .hero_logo {
            width: var(--size-logo-hero);
            height: var(--size-logo-hero);
            border-radius: 50%;
            border: 13px solid var(--color-bg-accent);
            background-color: var(--color-bg-accent);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
        }
    }

    .rating_stats_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .rating_stats {
            display: flex;
            justify-content: space-evenly;
            gap: 5px;
            padding-block: 5px;
            background-color: var(--color-bg-accent-strong);
            border-radius: 4px;
            width: 120px;
        }

        h1 {
            font-family: 'Palanquin Dark';
            font-weight: 700;
            font-size: clamp(40px, calc((100svw - 400px) * 8 / 1000 + 40px), 48px);
            color: var(--color-font-dark);

            span {
                color: var(--color-bg-shell);
            }
        }
    }

    p {
        font-family: 'Palanquin';
        font-weight: 700;
        font-size: 22px;
        color: var(--color-font-dark);
        text-align: center;
    }

    .rating {
        font-family: 'Palanquin Dark';
        font-size: 20px;
        font-weight: 400;
    }

    .rating_counter {
        width: 45px;
        font-family: 'Palanquin';
        font-size: 18px;
        font-weight: 400;
        color: var(--color-font-weak);
    }
}

.content_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 30px;

    .content_main_content {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;
    }
}

.content_main_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    overflow: hidden;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: var(--height-nav-category);

        gap: 5px;
        padding-inline: 30px;

        background-color: var(--color-bg-accent);
        overflow: hidden;

        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        li {
            a {
                font-size: 28px;
                color: var(--color-font-dark);
                font-family: 'Palanquin';
                font-weight: 600;
                line-height: 100%;
                text-align: left;
            }

            a:visited {
                color: var(--color-font-dark);
            }

            a:hover,
            a:active {
                color: var(--color-bg-shell);
            }
        }

        hr {
            height: 100%;
            border: 2px solid var(--color-bg-accent-strong);
            margin-inline: 8px;
        }
    }

    ul:hover {
        overflow-x: auto;
    }
}

dialog {
    padding: 32px;
    width: calc(100svw - 32px);
    height: 270px;

    margin: auto;
    border: 0;
    z-index: 2;
    background-color: var(--color-bg-overlay);
    border-radius: 30px;

    .dialog_content_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            width: 80px;
            margin-bottom: 16px;
            animation: moveInOutCar 1.5s infinite ease-in-out forwards;
        }

        h1,
        h2 {
            color: var(--color-bg-accent);
            line-height: 120%;
            font-family: 'Palanquin';
            font-weight: 700;
            text-align: center;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 24px;
        }
    }
}

dialog.opened::backdrop {
    background-color: #45444466;
    opacity: 0.75;
    transition: all 1s ease-in-out;
}

@media screen and (min-width: 769px) {
    .on_desktop {
        display: initial;
    }

    .on_mobile {
        display: none;
    }

    .scroll_none {
        overflow-y: auto;
    }

    .content_main {
        .content_main_content {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .hero {
        padding-top: 0;
        padding-inline: 0;

        .hero_img_wrapper {
            .hero_img {
                max-width: 1440px;
                width: 100svw;
                height: 510px;
                border-radius: 0;
                padding: 0;
            }

            .hero_logo {
                transform: translateX(-50%) translateY(33%);
            }
        }

        .rating_stats_wrapper {
            flex-direction: row;
            .rating_stats {
                order: 1;
            }
        }

        > p {
            max-width: 768px;
        }
    }

    dialog {
        width: 415px;
    }
}

@media screen and (min-width: 1441px) {
    .hero {
        padding-inline: calc(50% - 720px);
    }
}
