button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    text-decoration: none;
    color: var(--color-font-default);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.button_menu:hover,
.button_menu:active,
.button_categories:hover,
.button_categories:active {
    opacity: 0.5;
}

.button_home {
    background-image: url('../assets/icons/home.svg');
}

.button_profile {
    background-image: url('../assets/icons/profile.svg');
}

.button_orders {
    background-image: url('../assets/icons/orders.svg');
}

.button_basket {
    background-image: url('../assets/icons/basket-empty-nav.svg');
}

.button_home:hover,
.button_home:active {
    background-image: url('../assets/icons/home-active.svg');
}

.button_profile:hover,
.button_profile:active {
    background-image: url('../assets/icons/profile-active.svg');
}

.button_orders:hover,
.button_orders:active {
    background-image: url('../assets/icons/orders-active.svg');
}

.button_basket:hover,
.button_basket:active {
    background-image: url('../assets/icons/basket-active-nav.svg');
}

.button_star_default {
    background-image: url('../assets/icons/star-empty.svg');
    width: 24px;
    height: 24px;
}

.button_star_liked {
    background-image: url('../assets/icons/star.svg');
    width: 24px;
    height: 24px;
}

.button_trash_img {
    background-image: url('../assets/icons/delete.svg');
    align-self: flex-end;
}

.button_trash_img:hover {
    background-image: url('../assets/icons/delete-active.svg');
}

.basket_list::-webkit-scrollbar {
    width: 26px;
}

.basket_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px 6px transparent;
    border: solid 10px transparent;
}

.basket_list::-webkit-scrollbar-thumb {
    border-radius: 30px;
    box-shadow: inset 0 0 6px 6px var(--color-bg-accent);
    border: solid 10px transparent;
}

.basket_list::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px 6px var(--color-bg-accent-strong);
    border: solid 10px transparent;
}

.basket_wrapper::selection {
    background-color: var(--color-bg-accent-strong);
}

.button_categories {
    height: var(--height-nav-category);

    img {
        width: var(--size-button-categories);
        height: var(--size-button-categories);
        object-fit: cover;
    }
}

.button_add_highlight {
    color: var(--color-bg-accent);
}
