body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow-x: hidden;
    background-color: var(--color-bg-main);
}

.header-main,
main,
footer {
    padding-inline: var(--padding-content-small);
}

.header-main {
    background-color: var(--color-bg-shell);
    height: var(--height-header);

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: var(--color-font-bright);

        a {
            text-decoration: none;

            > div {
                display: flex;
                align-items: center;

                img {
                    width: var(--width-logo);
                    height: var(--height-logo);
                }
            }
        }

        a:visited {
            color: inherit;
        }

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            justify-content: space-between;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #00000000;
                border: none;
                text-decoration: none;
                color: var(--color-font-default);
            }
        }
    }
}

footer {
    background-color: var(--color-bg-shell);
    margin-bottom: var(--height-nav-mobile);

    > div {
        height: var(--height-footer);
    }
}

main {
    flex-grow: 1;
    background-color: var(--color-bg-main);
    padding-block: var(--padding-content-block);

    > section {
        height: 100svh;
    }
}

.mobile-nav {
    width: 100%;
    height: var(--height-nav-mobile);
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: var(--color-bg-overlay);
}

@media screen and (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    footer {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1441px) {
    .header-main,
    footer {
        padding-inline: var(--padding-content-limit);
    }
    main {
        padding-right: var(--padding-content-limit);
        padding-left: max(calc(50% - (720px - var(--padding-content-inline))), var(--padding-content-inline));
    }
}
